.slick-slider {
    position: relative;
}

.slick-slider .slick-arrow {
    position: absolute;
    z-index: 10;
    /* background-color: white; */
    background-color: #ffffff4a !important;
    padding: 15px 8px;
    height: 55px;
    width: auto;
    border: 1px solid gainsboro;
}

.slick-slider .slick-prev {
    left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}

.slick-slider .slick-next {
    right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}



.slick-arrow::before {
    color: #f95c07 !important;
    background: white;
    height: 12px ;
    width: 12px;
    border-radius: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .slick-arrow:hover{
    background-color: rgb(255, 0, 89);

} */